.PartnerBlock {
  width: 1240px;
  display: flex;
  justify-content: space-around;

  & div {
    align-items: center;

    & h3 {
      display: flex;
      align-items: center;
      height: 74px;
      width: 316px;
      font-weight: 700;
      font-size: 32px;
      text-align: center;
      margin-bottom: 32px;
    }

    & div {
      align-items: flex-start;
      gap: 24px;

      & img {
        cursor: pointer;
        transition: .15s ease-in-out transform;

        &:hover {
          transform: translateY(-10%);
          border-bottom: 1px solid hsla(0, 0%, 0%, 0.5);
        }
      }
    }

    &:nth-child(1) {
      & div {
        width: 274px;
      }
    }

    &:nth-child(2) {
      & div {
        width: 208px;
      }
    }

    &:nth-child(3) {
      & div {
        width: 172px;
      }
    }
  }

  @media (max-width: 1240px) {
    & {
      width: calc(100vw - 4px);
      flex-direction: column;
      justify-content: center;
      gap: 16px;

      & div {
        justify-content: center;

        & h3 {
          text-align: center;
          justify-content: center;
        }
      }
    }
  }
}

.hiddenA {
  display: none;
}